<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">

      <div class="footer__column">
        <div class="footer__title">Address</div>
        <div class="footer__address footer-text">
          Pipang Ltd, Griva Digeni,<br>
          81-83 Jacovides Tower, 1st Floor<br>
          1090 Picosia USA
        </div>
      </div>

      <div class="footer__column">
        <div class="footer__title">Services</div>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Overview</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Features</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Technology</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Privacy</a>
          </li>
        </ul>
      </div>

      <div class="footer__column">
        <div class="footer__title">Get in Touch</div>
        <div class="footer__links footer-text">
          <a class=" footer__link footer__link_email" href="mailto:info@cloudbudget.com">info@cloudbudget.com</a>
          <a class="footer__link footer__link_phone" href="tel:+18447217120">+1 844-721-7120</a>
        </div>
        <div class="socials">
          <div class="socials__item socials__item_facebook"></div>
          <div class="socials__item socials__item_linkedin"></div>
          <div class="socials__item socials__item_twitter"></div>
        </div>
      </div>

      <div class="footer__column">
        <div class="footer__title">We Support</div>
        <img class="footer__payment-systems" src="./img/footer/payment-systems.png" alt="Payment systems">
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy footer-text">Copyright 2022 CloudBudget</p>
    </div>
  </div>
</footer>