<header class="header">
  <div class="header__container container">
    <div class="header__inner">

      <a class="logo" data-da=".menu,575.98,last" href="#">
        <img class="logo__img" src="./img/logo-full.svg" alt="">
      </a>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="">OVERVIEW</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">FEATURES</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">TECHNOLOGY</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">CONTACT</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">Sign up</a>
          </li>
        </ul>
      </nav>

      <div class="header__actions">
        <div class="select" tabindex="0" role="listbox">
          <div class="select__header">
            <span class="select__current"></span>
            <button class="select__btn" tabindex="-1">
              <img class="select__btn-image" src="./img/lang/select-arrow.svg" alt="">
            </button>
          </div>
          <div class="select__body">
            <div class="select__item" data-lang="en" data-value="en" role="option" aria-selected>EN</div>
            <div class="select__item" data-lang="ru" data-value="ru" role="option">RU</div>
            <div class="select__item" data-lang="ua" data-value="ua" role="option">UA</div>
          </div>
        </div>
        <button class="header__btn btn">LOGIN</button>
        <button role="button" class="burger-btn" data-da=".header__inner,575.98,last">
          <span></span>
        </button>
      </div>

    </div>
  </div>
</header>
